node_modules
build
npm-debug.log
.env
.DS_Store

flask-api/api/bin/*
flask-api/api/lib/*
flask-api/__pycache__
flask-api/memory.db

*.sqlite
flask-api/.vscode/*
flask-api/file::memory:?cache=shared
docker-build-push
flask-api/api/*

app/poe-syn.psd

init-letsencrypt.sh
/data/*
site/size-plugin.json
