node_modules
build
npm-debug.log
.env
.DS_Store

flask-api/api/bin/*
flask-api/api/lib/*
flask-api/__pycache__
flask-api/memory.db

*.sqlite
flask-api/.vscode/*
flask-api/file::memory:?cache=shared
docker-build-push
flask-api/api/*
flask-api/crawler.py
flask-api/items.json

app/poe-syn.psd

gem_image_getter.py
missing_gem_script.py
gem_availabilities.csv
flask-api/gem_availability_backup.csv

gem_images/*

app/build.zip

gems.json

init-letsencrypt.sh
/data/*
/site/*
site/size-plugin.json
