.syndicate {
	padding: 60px 30px 0;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}

.rowWrapper {
	display:flex;
}

.default {
	background-color:#333333e5;
	box-shadow: inset 0.2em 0.2em #444;
}

.green {
	background-color:#336633e5;
    box-shadow: inset .2em .2em #477a47;
}

.red {
	background-color: #9b3232e5;
    box-shadow: inset .2em .2em #af4646;
}

.yellow {
	background-color:#cc9900e5;
    box-shadow: inset .2em .2em #e0ad14;
}

.resetButton {
	margin-bottom:15px;
	position: absolute;
    bottom: 0;
    right: 0;
}

.buttonWrapper {
	position: relative;
}

.resetWrapper {
	width:100%;
	float:left;
	display: flex;
	justify-content:space-between;
}

.tableWrapper {
	width:100%;
	float:left;
}

.titleWrapper {
	float:left;
}