.footerWrapper {
    width:100%;
    flex:0;
}

.footerBar {
    height:100%;
    width:100%;
    float:left;
    /* padding:20px 60px; */
    background-color:rgb(68 68 68 / 15%);
    margin-top:30px;
    font-size: .8em;
}

.footerBar > div {
    padding:20px 60px;
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap:20px;
    align-items: center;
    justify-content: space-between;
}

.footerBar > div > span.title {
    font-family: 'unineue-heavyitalic', 'Helvetica Neue', arial, sans-serif !important;
    font-size: 1.5rem;
}

.siteMap {
    text-align:left;
    text-align: left;
    display: flex;
    flex-flow: row;
    flex-direction: column;
    flex-wrap: wrap;
    max-height:50px;
    align-content: flex-start;
}

.siteMap > a {
    margin-right: 2em;
}

.questions {
    text-align:right;
    display: grid;
    grid-template-rows: auto;
}

.questions > span > a {
    color:#fff;
    text-decoration: none;
}

.footerBar > div > span.questions {
    text-align: right;
}

.siteMap > a {
    color:#fff;
    text-decoration: none;
}

.questions > a {
    color:#fff;
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {
	.footerBar {
        grid-template-columns: 1fr;
        padding:20px 30px;
    }

    .footerBar > span.questions {
        text-align: left;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 1000px) and (orientation: landscape){
	.footerBar {
        grid-template-columns: 1fr auto 1fr;
        padding:20px 60px;
    }

	.footerBar > div > span.questions {
        text-align: right;
    }
}

