<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="A collection of tools for Path of Exile, including a customizable Immortal Syndicate Cheat Sheet, updated for POE 3.10, and a handy leveling guide for league start.">
    <meta name="keywords" content="poesyn,syndicate cheat sheet 3.10,syndicate cheat sheet,immortal syndicate cheat sheet 3.10,poe syndicate cheat sheet,poe fossil cheat sheet,poe leveling guide,poe blight towers,immortal syndicate,poe cheat sheet"
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>