.menuBar {
    text-align: left;
    margin-top: 1rem;
}

.pageTitle {
    font-family: unineue-heavyitalic,Helvetica Neue,arial,sans-serif!important;
    font-size: 2rem!important;
    text-shadow: 6px 6px 0px #402300;
    color: #f7b10a;
}

.MuiListItem-root > img {
    margin-right: 20px;
    opacity: .5;
}

.MuiIcon-fontSizeLarge {
    width:2em;
}