.menuBar {
    text-align: left;
    margin-top: 1rem;
}

.pageTitle {
    font-family: unineue-heavyitalic,Helvetica Neue,arial,sans-serif!important;
    font-size: 2rem!important;
    text-shadow: 4px 4px 0px var(--colorShadow);
    color: var(--colorMain);
}

.MuiListItem-root > img {
    margin-right: 20px;
    opacity: .5;
}

.MuiIcon-fontSizeLarge {
    width:2em;
}