:root {
    --mdc-theme-surface: #444444e5;
    --mdc-theme-primary: #00363a;
    --input-color: #8d8d8d;
    --input-border: #cdd9ed;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;
    --input-border-focus: #00363a;
    --group-color: #fff;
    --group-border: var(--input-border);
    --group-background: #428e92;
    --group-color-focus: #fff;
    /* --group-border-focus: var(--input-border-focus); */
    --group-background-focus: #006064;
  }

* {
    box-sizing: border-box;
} 

.passives {
	padding: 60px 30px 0;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
  margin: 0 auto;
}

.tableWrapper {
    float:left;
    text-align:center;
}

.table {
    text-align: left;
}

.actCard {
    width:18%;
    padding:20px;
    margin:10px 10px 10px 0px;
}

li {
    line-height:1.5em;
}

#pobInput {
    float:left;
    display:flex;
    position:relative;
    align-items:center;
    margin-bottom:1em;
    font-size: 1em;
    height:50px;
}

label, input, button {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#acts {
    float:left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right:-10px;
}

.buildButton {
    height:100%;
    margin:0 0 0 15px;
}

.gemWrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content: left space-around;
    margin-right:-10px;
}

.gemWrapper > div > img {
    max-width:50px;
    max-height:50px;
    padding-right:10px;
}

.hintWrapper {
    background-color:#555;
    padding:5px 20px;
    border-radius: 2px;
    box-shadow:0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.formField::placeholder {
    color:#000;
}

.formField {
    display: block;
    width: 100%;
    padding: 0px 16px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 2px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 0px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}
.formField::placeholder {
    color: var(--input-placeholder);
}
.formField:focus {
    outline: none;
    /* border-color: var(--input-border-focus); */
}
.formGroup {
    position: relative;
    display: flex;
    width: 100%;
    font-family:Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
}
.formGroup > span, .formGroup .formField {
    white-space: nowrap;
    display: block;
}
.formGroup > span:not(:first-child):not(:last-child), .formGroup .formField:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.formGroup > span:first-child, .formGroup .formField:first-child {
    border-radius: 2px 0 0 2px;
}
.formGroup > span:last-child, .formGroup .formField:last-child {
    border-radius: 0 2px 2px 0;
}
.formGroup > span:not(:first-child), .formGroup .formField:not(:first-child) {
    margin-left: -1px;
}
.formGroup .formField {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.formGroup > span {
    text-align: center;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 50px;
    color: var(--group-color);
    background: var(--group-background);
    /* border: 1px solid var(--group-border); */
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.formGroup:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    /* border-color: var(--group-border-focus); */
}

body .formGroup {
    max-width: 360px;
}
body .formGroup:not(:last-child) {
    /* margin-bottom: 32px; */
}
