.passives {
	padding: 20px;
	min-height: 100%;
    /* width: 100%; */
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
  margin: 0 auto;
}

.tableWrapper {
    float:left;
    text-align:center;
}

.table {
    text-align: left;
}

.actCard {
    width:30%;
    padding:20px;
    margin:10px;
}

li {
    line-height:1.5em;
}

#pobInput {
    float:left;
    display:flex;
    position:relative;
    align-items:center;
}

#acts {
    float:left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buildButton {
    margin:15px;
}