/* default-blue */
/* :root {
  --background: #2b2c3e;
  --border-color: #627a9c;
  --line-color: #627a9c;
  --border: 2px solid var(--border-color);
  --box-shadow: inset 0 -0.35em var(--border-color);
  --border-color-hover: #748cb1;
  --border-hover: 2px solid var(--border-color-hover);
  --box-shadow-hover: inset 0 -0.35em var(--border-color-hover);
} */
/* sand-dark */
/* :root {
  --background: #24211e;
  --border-color: #887955;
  --line-color: #423d2f;
  --border: 2px solid var(--border-color);
  --box-shadow: inset 0 -0.25em var(--border-color);
  --border-color-hover: #c59013;
  --border-hover: 2px solid var(--border-color-hover);
  --box-shadow-hover: inset 0 -0.25em var(--border-color-hover);
} */
/* wow-classes */
/* :root {
  --background: #211510;
  --border-color: #504137;
  --line-color: #504137;
  --border: 2px solid var(--border-color);
  --border-color-hover: #f8b700;
  --border-hover: 2px solid var(--border-color-hover);
  --text-color: #ebdec2;
  --mod-color: #ebdec2;
  --description-color: #b1997f;
} */
/* elder/shaper grab */
:root {
  --background: #15191c;
  --border-color: #515461;
  --line-color: #303136;
  --border: 2px solid var(--border-color);
  /* --box-shadow: inset 0 -0.25em var(--border-color); */
  --border-color-hover: #f581ff;
  --border-hover: 2px solid var(--border-color-hover);
  --text-color: #d4d8e4;
  --mod-color: #c2e0eb;
  --description-color: #979aa7;
  /* --box-shadow-hover: inset 0 -0.25em var(--border-color-hover); */
}

.iot-node {
    position: absolute;
    width: auto;
    max-width:280px;
    min-width: 240px;
    /* min-height: 160px; */
    /* max-height: 160px; */
    display:grid;
    align-items:center;
    background-color:var(--background);
    border: var(--border);
    border-radius:5px;
    padding:1.5em 1.5em 0em 2.5em;
    box-shadow: var(--box-shadow);
  }

  .iot-node.root {
    padding: 1em;
    min-width: unset;
  }

  .iot-node.no-mod {
    width: auto !important;
    text-align: center;
    min-width: unset;
  }

  .iot-node:hover {
    box-shadow: 0px 0px 20px 0px #a2a6b11f;
  }

  .iot-node.root:hover {
    box-shadow: none;
  }

  .title {
    line-height: 28px;
    color: var(--text-color);
    display:grid;
    grid-template-columns: auto;
    align-items: center;
    margin:auto;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.02em;
  }

  .iot-node .image {
    padding: 0 10px 0 0;
    position: absolute;
    left: -2.5em;
    top: -2em;
  }

  .iot-node.root .image {
    padding: 0 0 0 0;
    position: inherit;
    /* margin-top:4em; */
  }

  .iot-node .title .icon-class {
    vertical-align: bottom;
    margin-right: 5px;
  }

  .iot-node .content {
    line-height: 24px;
    font-size: 1.2em;
    color: var(--text-color);
    text-align: left;
  }

  .iot-node.root .title-grid .content {
    display: none;
  }

  .iot-node .content .description {
    font-size: 0.6em;
    color: var(--description-color);
    text-align: left;
  }

  .iot-node .content .rewardMod {
    font-size: 0.7em;
    color: var(--description-color);
    text-align: left;
    max-width:100%;
    line-height: 1.7em;
    padding: 5px 0;
  }

  .expand-btn {
    position: absolute;
    right: 10px;
    bottom: 5px;
    /* left: -2px; */
    height: 25px;
    width: 25px;
    line-height: 8px;
    text-align: center;
    cursor: pointer;
    color:var(--text-color);
    display:grid;
    align-items: center;
    font-size:0.6rem;
    font-family: monospace;
  }

  .iot-node .expand-btn:hover {
    /* border-top: var(--border-hover); */
    color: var(--border-color-hover);
    font-size:0.7rem;
  }

  .title-grid {
    display:grid;
    grid-template-columns: 1fr;
    align-items:center;
  }

  .rewards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: end;
    margin: 0.25em 1em 0.5em 0em;
  }

  .compact-box-tree-page {
    width: 100%;
    height: 100%;
  }

  .compact-box-tree-page .compact-box-tree-canvas {
    width: 100%;
    height: 100%;
  }
  