.menuBar {
    text-align: left;
    /* padding: 0.5em 0; */
    background: rgb(17, 17, 17);
    border-bottom: 2px solid #222;
}

.headerBar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.headerBarLeft {
    /* min-height: 50px; */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.headerBarCenter {
    margin:0 auto;
}

.pageTitle {
    font-family: unineue-heavyitalic,Helvetica Neue,arial,sans-serif!important;
    font-size: 2em!important;
    text-shadow: 4px 4px 0px var(--colorShadow);
    color: var(--colorMain);
    padding-bottom:5px;
}

.pageTitle a {
    text-decoration: none;
    color: var(--colorMain);
}

.navTitle {
    font-family: unineue-heavyitalic,Helvetica Neue,arial,sans-serif!important;
    font-size: 2rem!important;
    text-shadow: 4px 4px 0px var(--colorShadow);
    color: var(--colorMain);
    text-align:left;
    margin:0.5em 0.8em;
}

.MuiListItem-root > img {
    margin-right: 20px;
    opacity: .5;
}

.MuiIcon-fontSizeLarge {
    width:2em;
}

.MuiBox-root {
    height:100%;
}

.MuiList-root {
    height:100%;
}