/* :root {
    --mdc-theme-surface: #444444e5;
	--mdc-theme-primary: #00363a;
} */

.towers {
	padding: 20px 60px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}

#towers {
    float:left;
    /* display: flex;
	flex-wrap: wrap; */
	display:grid;
	grid-gap:20px;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
    justify-content: space-around;
	margin-right:-10px;
	width:100%;
}

.towerCard {
    width:100%;
	padding:20px;
	border: 8px solid;
    /* margin:10px 10px 10px 0px; */
}

.towerCard > p {
	font-size: .9em;
}

@media only screen and (max-width: 1450px) {
	#towers {
		grid-template-columns: repeat(3, minmax(300px, 1fr));
	}
  }

@media only screen and (max-width: 1100px) {
	.towers {
        padding: 20px 40px;
	}
	
	#towers {
		grid-template-columns: repeat(2, minmax(300px, 1fr));
	}
  }

@media only screen and (max-width: 750px) {
	.towers {
        padding: 20px;
	}

	#towers {
		grid-template-columns: repeat(1, minmax(300px, 1fr));
	}
}

.towerHeader {
	display:grid;
	grid-gap: 10px;
	padding: 10px;
	grid-template-columns: auto 1fr;
}

.towerContainer {
	display:flex;
	grid-gap: 10px;
	padding: 10px;
	align-items:center;
}

.tower {
	/* grid-area:image; */
	display:grid;
	grid-template-columns: auto;
	margin-right: 20px;
	grid-gap: 10px;
}

.tower > span {
	margin-right:auto;
}

.fossilName {
	font-size:1.2em;
	font-weight:bold;
}

.fossilEffect {
	font-style: oblique;
}

.towerContainer > img {
	max-width:75px;
	max-height:75px;
}

.towerContainer > span {
	margin-bottom:10px;
}
